# Terraform
.terraform/
terraform.tfstate*
terraform.tfstate.backup
*.tfvars

# Lambda
lambda_function.zip

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log